@import url(https://fonts.googleapis.com/css?family=Roboto);

$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;

$themeGreen: #1ab188;
$themeDarkBlue: #13232F;
$themeGray: #555e5e;

// CHATROOM

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #212121;
  font: 14px/20px "Roboto", Arial, sans-serif;
  padding: 40px 0;
  color: white;
}

.chatroom {
  margin: 20px auto;
  width: 60%;
  background: $themeGreen;
  border-radius: 5px;
}

.people-list {
  width: 30%;
  float: left;
  overflow-y: scroll;

  .search {
    padding: 20px;
  }

  input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: $themeGray;
    width: 90%;
    font-size: 14px;
  }

  .fa-search {
    position: relative;
    left: -25px;
  }

  ul {
    padding: 20px;
    height: 770px;

    li {
      padding-bottom: 20px;
    }
  }

  img {
    float: left;
  }

  .about {
    float: left;
    margin-top: 8px;
  }

  .about {
    padding-left: 8px;
  }

  .status {
    color: black;
  }
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
  }

.online {
  color: $green;
}

.offline {
  color: $orange;
}

.me {
  color: $blue;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.chat {
  width: 70%;
  float:left;
  background-color: rgb(160, 179, 176);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  color: white;
  
  .chat-header {
    background: $themeDarkBlue;
    padding: 20px;
    border-bottom: 2px solid #333;
    
    img {
      float: left;
    }
    
    .chat-about {
      float: left;
      padding-left: 10px;
      margin-top: 6px;
    }
    
    .chat-with {
      font-weight: bold;
      font-size: 16px;
    }
    
    .chat-num-messages {
      color: $gray;
    }
    
    .fa-star {
      float: right;
      color: #D8DADF;
      font-size: 20px;
      margin-top: 12px;
    }
  }
  
  .chat-history {
    padding: 30px 30px 20px;
    overflow-y: scroll;
    height: 575px;
	background-color:$themeGray;
    
    .message-data {
      margin-bottom: 15px;
    }
    
    .message-data-time {
      color: lighten($gray, 8%);
      padding-left: 6px;
    }
    
    .message {      
      color: white;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 30px;
      width: 90%;
      position: relative;
      
      &:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $green;
        border-width: 10px;
        margin-left: -10px;
      }
    }
    
    .my-message {
      background: $blue;
    }
    
    .other-message {
      background: $green;
      
      &:after {
        border-bottom-color: $green;
        left: 93%;
      }
    }
    
  }
  
  .chat-message {
    padding: 30px;
    background: $themeDarkBlue;
    
    textarea {
      width: 100%;
      border: none;
      background: $themeGray;
      color: white;      
      padding: 10px 20px;
      font: 14px/22px "Roboto", Arial, sans-serif;
      margin-bottom: 10px;
      border-radius: 5px;
      resize: none;
      
    }
    
    .fa-file-o, .fa-file-image-o {
      font-size: 16px;
      color: $blue;
      cursor: pointer;
      
    }
    
    button {
      float: right;
      color: $blue;
      font-size: 16px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      font-weight: bold;
      background: #333;
      
      &:hover {
        color: darken($blue, 7%);
      }
    }
  }

}

#catalog-search input 
{
	color: black;
}

.search > input, .search > i {
	display: inline-block;
}

// SEARCH BAR

@font-face {
	font-family: Lobster;
	src: url(../lib/Lobster.ttf);
}

//body { padding-top: 50px; }

.tt-input,
.tt-hint {
	background-color: transparent !important;
	border: none;
	height: 100%;
	padding: 12px 12px 0px;
	font-size: 20px;
	color: white;
	line-height: 30px;
	outline: none;
}

.tt-input:focus,
.tt-hint:focus {
	border-bottom: 2px solid #ccc;
} 

.tt-hint {
	color: #999;
} 

.tt-menu {
	color: black;
	width: 422px;
	margin-top: 12px;
	padding: 8px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
	padding: 3px 20px;
	font-size: 18px;
	line-height: 24px;
}

.tt-suggestion.tt-selectable:hover {
	color: #fff;
	background-color: #0097cf;
	cursor: pointer;
	cursor: hand;
}

.tt-suggestion.tt-cursor {
	color: #fff;
	background-color: #0097cf;
}

.tt-suggestion p {
	margin: 0;
}
/*
@media(min-width:768px){
	.collapse.navbar-collapse {
		display: flex !important;
	}
	#catalog-search {
		flex: 1;
	}
}
*/
#catalog-search {
	//height: 50px;
}

.twitter-typeahead, .tt-hint, .tt-input, .tt-menu { width: 100%; }

.updateButton
{
	color:black;
	display:inline-block;
	height:45px;
}

#class div, #class h1
{
	text-align:center;
	margin: 20px auto;
	color:black !important;
}

#class button
{
	margin: 0 5px;
}

.buttonContainer
{
	display:inline-block;
}

// SEARCH

#classes 
{
	width:80%;
	margin:40px auto;
}

.col-centered
{
	margin: auto;
	float: none;
}

// SIGNUP/LOGIN
#userFail, #userSuccess
{
	margin: 30px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  /* background: #c1bdba; */
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: #1ab188;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: #179b77;
}

.form {
  background: #13232F;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: #555e5e;
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.tab-content > div:last-child {
  /* display: none; */
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

/* SIDE NAVBAR */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

#sidebar-wrapper {
	position:fixed;
	height: 100vh;
	background:#13232F;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

// OTHER

html, body{
    margin:0px;
    padding:0px;
	background-color: white;
}

table
{
	color:black;
}

ul
{
    list-style-type: none;
}

html, body, .container-fluid{
  height: 100%;
  width: 100%;
  margin: 0;
}

.imageMessage {
  max-width: 350px;
  max-height: 400px;
  cursor: hand;
  cursor: pointer;
}