<div id="chat">    

	<div class="chatroom clearfix">
	  <div class="people-list" id="people-list">
		<div class="search">
		  <input type="text" ng-model="userFilter" placeholder="search" />
		  <!-- <i class="fa fa-search"></i> -->
		</div>
		<span class="search">{{participants.length + ' in chat'}}</span>
		<ul class="list">
			<li class="clearfix" ng-repeat="user in participants | filter:userFilter">
				<div class="about">
				<div class="name">{{user.name}}</div>
				<div class="status">
					<i class="fa fa-circle online"></i> online
				</div>
				</div>
			</li>
		</ul>
	  </div>

	  <div class="chat">
		<div class="chat-header clearfix">
		  <div class="chat-about">
			<div class="chat-with">{{class.identifier}}</div>
			<div class="chat-num-messages">{{messages.length}} messages</div>
		  </div>
		  <!-- <i class="fa fa-star"></i> -->
		</div> <!-- end chat-header -->
		
		<div class="chat-history">
		  <ul>
		  	<li class="clearfix" ng-repeat="message in messages | orderBy:'timestamp'">
			  <div ng-if="!message.own" class="message-data">
				<span class="message-data-name" >{{message.sender}}</span> <i class="fa fa-circle online"></i> &nbsp; &nbsp;
				<span class="message-data-time" >{{message.timeString}}</span>
			  </div>
			  <div ng-if="message.own" class="message-data align-right">
				<span class="message-data-time" >{{message.timeString}}</span> &nbsp; &nbsp;
				<span class="message-data-name" >{{message.sender}}</span> <i class="fa fa-circle me"></i>
			  </div>
			  <div class="message {{message.own ? 'other-message float-right' : 'my-message'}}">
				{{message.messageType == 'text' ? message.message : ''}}
				<a ng-if="message.isFile" ng-href="{{message.link}}">{{message.originalFilename}}</a>
				<img
					class="imageMessage"
					style="max-width: 100%; max-height: 100%;"
					ng-if="message.isImage"
					ng-src="{{message.link}}"
					ng-click="viewImage(message)"/>
			  </div>
			</li>
		  </ul>
		</div>

	   <div class="chat-message clearfix">
		  <textarea ng-keypress="textareaEnter($event)" ng-model="messageInput" placeholder="Type your message" rows="4"></textarea>

		  <div style="display: inline-block;" ngf-max-size="1MB" ngf-select="uploadFile($file)"><i class="fa fa-file-o"></i></div>&nbsp;&nbsp;&nbsp;
		  <div style="display: inline-block;" accept="image/*" ngf-max-size="1MB" ngf-select="uploadImage($file)"><i class="fa fa-file-image-o"></i></div>
		  
		  <button ng-click="sendMessage()">Send</button>

		</div>
		  
	  </div>
	</div>
	
</div>