<div id="class">    

	<div class="row">
		<div class="col-sm-5 col-centered">
			<h1> {{currClass.identifier}} </h1>
		</div>
		<div class="col-sm-5 col-centered">
			<p> {{currClass.name}} </p>
		</div>
		<div class="col-sm-5 col-centered">
			<p> {{currClass.credit}} </p>
		</div>
		<div class="col-sm-5 col-centered">
			<p> {{currClass.description}} </p>
		</div>
	</div>
	
	<div style="text-align:center; margin: 0 auto">
		<div class="buttonContainer">
			<button><a ng-href="#/chat/{{classRoute}}/{{id}}" style="text-decoration: none">  Chat  </a></button>
		</div>
		<div class="buttonContainer">
			<button ng-click="enroll()"> Enroll in Class </button>
		</div>
		
		<div ng-if="showError" id="enrollFail" class="alert alert-danger">
		<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Already enrolled in the class!</strong>
	  </div>
	  
	  <div ng-if="showSuccess" id="enrollSuccess" class="alert alert-success">
		<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Successfully enrolled in the class</strong>
	  </div>
	</div>
	
	
</div>