<div id="search">    

	<div class="row searchContainer">
		<div id="catalog-search" class="col-sm-5 col-centered">
				<input class="typeahead"type="text" class="form-control" ng-model="query['identifier']" placeholder="Search for a class">
		</div>
	</div>
	
	<div id="classes">
		<table class="table table-hover table-responsive table-bordered table-striped">
			<thead>
			  <tr>
				<th>Class</th>
				<th>Name</th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="class in data | filter:query">
				<td> <a href="#/class/{{class.identifier.toLowerCase().split(' ').join('')}}/{{class.id}}"> {{class.identifier}} </a> </td>
				<td> <a href="#/class/{{class.identifier.toLowerCase().split(' ').join('')}}/{{class.id}}"> {{class.name}} </a> </td>	
			  </tr>
			</tbody>
		</table>
	</div>
	
</div>